<div class="row no-margin">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="card">
            <div class="card-body" id="analysis-section">

                {{!-- TITLE --}}
                <div class="row">
                    <div class="col">
                        <h4>Analysis - </h4>
                    </div>
                </div>

                {{!-- GRAPH --}}
                <div class="row hidden" id='tweet-engmt-info'>
                    <div class="col">
                        <div><strong id="engmt"></strong></div>
                        <canvas></canvas>
                    </div>
                </div>
                <div class="row hidden" id="stats-row">
                                    <div class="col-9">
                        <strong>Statistics:</strong>
                                    <div class="card">
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-4">
                                                <div id="tweet-engmt"></div>
                                        <div id="likes"></div>
                                        <div id="rts"></div>
                                        <div id="mentions-b"></div>
                                        <div id="mentions-a"></div>
                                        <div id="hashtags-b"></div>
                                        <div id="hashtags-a"></div>
                                        <div id="other-b"></div>
                                        <div id="other-a"></div>
                                            </div>
                                            <div class="col-8"><canvas></canvas></div>
                                        </div>
                                        
                                        </div></div>
                                    </div>
                                    <div class="col-3">
                        <strong>Content Analysis:</strong>
 <div class="card">
                                    <div class="card-body">
                                        <div id="is-rt"></div>
                                        <div id="mentions-used"></div>
                                        <div id="hashtags-used"></div>
                                        <div id="emojies-used"></div>
                                        <div id="link-count"></div>
                                        <div id="media-types"></div></div></div>
                                    </div>
                                
                                </div>
                                
                            
</div>
                <div class="row tweet-table no-margin">
                    <div class="col">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Tweet</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Likes</th>
                                    <th scope="col">Retweets</th>
                                    <th scope="col">Engagement</th>
                                    <th scope="col" class='hidden'>full_text</th>
                                    <th scope="col" class='hidden'>timestamp</th>
                                    <th scope="col" class='hidden'>is_rt</th>
                                    <th scope="col" class='hidden'>before_mentions</th>
                                    <th scope="col" class='hidden'>after_mentions</th>
                                    <th scope="col" class='hidden'>before_hashtags</th>
                                    <th scope="col" class='hidden'>after_hashtags</th>
                                    <th scope="col" class='hidden'>before_other</th>
                                    <th scope="col" class='hidden'>after_other</th>
                                    <th scope="col" class='hidden'>media_entities</th>
                                    <th scope="col" class='hidden'>url_entities</th>
                                </tr>
                            </thead>
                            <tbody id="tweet-table-body">

                            </tbody>
                        </table>

                    </div>
                </div>
                </div>
                
            </div>
        </div>
    </div>
</div>