<div class="row no-margin">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="card">
            <div class="card-body">
                {{!-- <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Engagement = </span>
                    </div>

                    <input type="text" class="form-control" id="wL"
                        aria-label="Likes"><label for="wL">Likes + </label>
                    <input type="text" class="form-control" id="wR"><div
                        class="input-group-prepend">Likes + </div>
                    <input type="text" class="form-control" id="wM"><div
                        class="input-group-prepend">Likes + </div>
                    <input type="text" class="form-control" id="wH"><div
                        class="input-group-prepend">Likes + </div>
                    <input type="text" class="form-control" id="wO"><div
                        class="input-group-prepend">Likes + </div>


                    <div class="input-group-append">
                        <button class="btn btn-primary" id="adjust-weight-btn">✔</button>
                    </div>

                </div> --}}
                <div class="row no-margin">
                    <div class="col no-padding">
                        <div class="input-group">
                        <input type="text" class="form-control" id="wL">
                        <div class="input-group-append">
                            <span class="input-group-text">Likes</span>
                            <span class="input-group-text no-grey"> + </span>
                        </div>
                        </div>
                    </div>
                    <div class="col no-padding">
                        <div class="input-group">
                        <input type="text" class="form-control" id="wR">
                        <div class="input-group-append">
                            <span class="input-group-text">Retweets</span>
                            <span class="input-group-text no-grey"> + </span>
                        </div>
                        </div>
                    </div>
                    <div class="col no-padding">
                        <div class="input-group">
                        <input type="text" class="form-control" id="w<">
                        <div class="input-group-append">
                            <span class="input-group-text">Mentions</span>
                            <span class="input-group-text no-grey"> + </span>
                        </div>
                        </div>
                    </div>
                    <div class="col no-padding">
                        <div class="input-group">
                        <input type="text" class="form-control" id="wH">
                        <div class="input-group-append">
                            <span class="input-group-text">Hashtags</span>
                            <span class="input-group-text no-grey"> + </span>
                        </div>
                        </div>
                    </div>
                    <div class="col no-padding">
                        <div class="input-group">
                        <input type="text" class="form-control" id="wO">
                        <div class="input-group-append">
                            <span class="input-group-text">Other</span>
                        </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-1"></div>

</div>

<div class="row no-margin">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                GameOfThrones
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                HBO
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/compare.js"></script>
