{{!-- TITLE --}}
<div class="row no-margin" id="title"><h1>TweetTracker</h1></div>

{{!-- TABLE --}}
<div class="row no-margin">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="card overview-wrapper">
  <div class="card-body">
    <div class="row overview-accounts no-margin">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Tracking accounts...</th>
          <th scope="col"></th>
          <th scope="col">Tweets</th>
          <th scope="col">Followers</th>
        </tr>
      </thead>
      <tbody id="overview-table-body">
        
       </tbody>
    </table>
    
    </div>  
</div>

{{!-- HANDLE INPUT --}}
<div class="row no-margin">
    <div class="input-group" id="input-handle-group">
      <div class="input-group-prepend">
        <span class="input-group-text">@</span>
      </div>
      <input type="text" class="form-control" id="handle-input">
      <div class="input-group-append">
        <button class="btn btn-primary" id="add-account-btn">+</button>
      </div>
      <div class="input-group-append">
        <label class="input-group-text">Enter Twitter handle to compare account</label></div>
    </div>
  
</div>
  </div>
</div>
  </div>
  <div class="col-1"></div>
  
</div>



{{!-- NAV BAR --}}
<div class="row no-margin hidden" id="nav-bar">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="card">
        <div class="card-body">

<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" id="graph-tab">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="compare-tab">Compare</a>
  </li>
  
</ul>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>

{{!-- GRAPH OPTIONS --}}
<div class="row no-margin hidden" id="graph-options">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="card">
        <div class="card-body">

          <div class="input-group" id="input-graph-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Add graph...</span>
            </div>


                <select class="custom-select" id="account-dropdown">
                  
                </select>
       
                <select class="custom-select" id="chart-type-dropdown">
                  <option>Likes</option>
                  <option>Retweets</option>
                </select>
             
   <div class="input-group-append">
<button class="btn btn-primary" id="add-graph-btn">+</button>

   </div>

          </div>



            
            
          

        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>

{{!-- CHARTS --}}
{{!-- Likes --}}
<div class="row no-margin hidden" id="likesChart">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="card">
      <div class="card-body">
        <div class="row"><div class="col-6"><canvas></canvas></div>
        <div class="col-6">
          <h4>Likes</h4>
          <p id="avg-likes"></p>
          <p id="max-likes"></p>

        </div></div>
        </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>

{{!-- Retweets --}}
<div class="row no-margin hidden" id="RTsChart">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="card">
      <div class="card-body">
        <div class="row"><div class="col-6"><canvas></canvas></div>
        <div class="col-6">
          <h4>Retweets</h4>
          <p id="avg-rts"></p>
          <p id="max-rts"></p>
        </div></div>
        </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>




