<div class="row overview-accounts">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Tracking accounts...</th>
          <th scope="col"></th>
          <th scope="col">Tweets</th>
          <th scope="col">Followers</th>
        </tr>
      </thead>
      <tbody>
        {{!-- <tr>
          <th scope="row">Donald J. Trump</th>
          <td>@realDonaldTrump</td>
          <td>42.1K</td>
          <td>60.6M</td>
        </tr> --}}
        <tr>
          <th scope="row">
            <div class="input-group ">
            <div class="input-group-prepend">
              <span class="input-group-text" id="handle-input">@</span>
            </div>
            <input type="text" class="form-control">
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit" id="add-account-btn">+</button>
            </div>
           
          </div>
          </th>
          <td colspan="3">Enter Twitter handle to compare account</td>
        </tr>
       </tbody>
    </table>
    </div>

  
</div>




