<div class="row overview-accounts">
  <div class="col">
<div class="card overview-card">
  <div class="card-body">
    <div class="row no-gutters">
    <div class="col-2"><strong>Donald J. Trump</strong></div>
    <div class="col-7">@realDonaldTrump</div>
    <div class="col-3">
      <div class="card-group">
        <div class="card"><div class="card-body">23</div></div>
        <div class="card"><div class="card-body">23</div></div>
        <div class="card"><div class="card-body">23</div></div>
      </div>
    </div>

    </div>
  </div>
</div>
</div>
  
</div>


