<div class="row overview-accounts">
  <div class="col">
<div class="card overview-card">
  <div class="card-body">
    <div class="row no-gutters">
    <div class="col-2 overview-card-item"><strong>Donald J. Trump</strong></div>
    <div class="col-7 overview-card-item">@realDonaldTrump</div>
    <div class="col-3 overview-card-item">
      <div class="card-group stats">
        <div class="card"><div class="card-body">23</div></div>
        <div class="card"><div class="card-body">23</div></div>
        <div class="card"><div class="card-body">23</div></div>
      </div>
    </div>

    </div>
  </div>
</div>
</div>
  
</div>


