
{{!-- TABLE --}}
<div class="row no-margin">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="card overview-wrapper">
  <div class="card-body">
    <div class="row overview-accounts no-margin">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Tracking accounts...</th>
          <th scope="col"></th>
          <th scope="col">Tweets</th>
          <th scope="col">Followers</th>
          <th scope="col">Tracking</th>
        </tr>
      </thead>
      <tbody id="overview-table-body">
        
       </tbody>
    </table>
    
    </div>  
</div>

{{!-- HANDLE INPUT --}}
<div class="row no-margin">
    <div class="input-group" id="input-handle-group">
      <div class="input-group-prepend">
        <span class="input-group-text">@</span>
      </div>
      <input type="text" class="form-control" id="handle-input">
      <div class="input-group-append">
        <button class="btn btn-primary" id="add-account-btn">+</button>
      </div>
      <div class="input-group-append" id="handle-msg">
        <label class="input-group-text">Enter Twitter handle to compare account</label>
      </div>
    </div>
  
</div>
  </div>
</div>
  </div>
  <div class="col-1"></div>
  
</div>

{{!-- TRACKING OPTIONS --}}
<div class="row no-margin hidden" id="tracking-options">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="card">
      <div class="card-body">
        <div class="input-group" id="input-track-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Add/show tracker for...</span>
          </div>
          <select class="custom-select" id="account-dropdown-track">
          </select>
          <div class="input-group-append">
            <button class="btn btn-primary" id="add-tracker-btn">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>

{{!-- TRACKER --}}
<div class="row no-margin" id="tracker-section">
  <div class="col"></div>
</div>

<div class="row no-margin hidden" id="tracker">

  <div class="col-1"></div>
  <div class="col-10">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-10"><h4>Tracker - </h4></div>
          <div class="col-2"><button type="button" class="btn btn-danger" id="stop-track-btn">Stop</button></div>

</div>


        <div class="row">
          <div class="col-4" id="start-date">Started: </div>

          <div class="col-3" id="status">Status: </div>

          <div class="col-5" id="last-updated">Last updated: </div>

        </div>
        <div class="row">
          <div class="col-6"><canvas id="engmt-chart"></canvas></div>
          <div class="col-6">
            <div id="avg-likes">Average Likes: </div>
            <div id="avg-rts">Average Retweets: </div>
            <div id="mentions">Mentions: </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>