<div class="row overview-accounts">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Tracking accounts...</th>
          <th scope="col"></th>
          <th scope="col">Tweets</th>
          <th scope="col">Following</th>
          <th scope="col">Followers</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Donald J. Trump</th>
          <td>@realDonaldTrump</td>
          <td>42.1K</td>
          <td>47</td>
          <td>60.6M</td>
        </tr>
        <tr>
          <th scope="row">Pope Francis</th>
          <td>@Pontifex</td>
          <td>1992</td>
          <td>8</mtd>
          <td>18M</td>
        </tr>
       </tbody>
    </table>
    </div>

  
</div>




