<div class="row overview-accounts">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Tracking accounts...</th>
          <th scope="col"></th>
          <th scope="col">Tweets</th>
          <th scope="col">Followers</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <div class="input-group ">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" id="handle-input">
            <div class="input-group-append">
              <button class="btn btn-primary" id="add-account-btn">+</button>
            </div>
          </div>
          </th>
          <td colspan="3">Enter Twitter handle to compare account</td>
        </tr>
       </tbody>
    </table>
    </div>

  
</div>




