<div class="row no-margin">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="card">
            <div class="card-body" id="analysis-section">
                <h4>Analysis - </h4>
                <div class="row"><div class="col"><canvas></canvas></div></div>
            </div>
        </div>
    </div>
</div>