<div class="row no-margin">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="card">
            <div class="card-body" id="analysis-section">
                <h4>Analysis - </h4>
                <div class="row"><div class="col"><canvas></canvas></div></div>
                <div class="row overview-accounts no-margin">
                    <div class="col">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Tweet</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Likes</th>
                                    <th scope="col">Retweets</th>
                                    <th scope="col">Engagement</th>
                                </tr>
                            </thead>
                            <tbody id="tweet-table-body">

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>