html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  max-width: 100%;
}

.overview-wrapper {
  width: 100%;
}

#title {
  background-color: var(--grey-dark);
  padding: 0.5%;
  padding-left: 1%;
}
#title h1 {
  font-size: 3em;
  color: white;
}

:root{
  --grey-dark: #272727;
  --grey-light: #747474;
  --red: #FF652F;
  --yellow: #FFE400;
  --green: #14A76C;
}


.no-margin {
  /* width: 90% */
  margin: 0;
}

.overview-accounts > div {
  width: 100%;
}

.row {
  max-width: 100%;
}

.overview-card div.card-body {
 padding: 0;
}

.overview-card div.card {
  border: 0;
}

.overview-card div.row {
  margin: 1%;
}

.hidden {
  display: none;
}

/* .main-section {
  background-color: var(--grey-light);
  
} */
/* Overriding Bootstrap */
.card {
  margin-top: 1%;
  border-radius: 3px;
}